html,
body {
  max-width: 100vw;
}

.css-ptdwpq-MuiPaper-root-MuiAppBar-root {
  background-color: black;
}
.css-1bv5yfe-MuiTypography-root {
  background-color: Green;
  border-radius: 5px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
